In [50]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [51]:
df= pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding='latin1')
df

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
0,1,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,0,...,NaN,NaN,21,2,0,0,0,0,578,3
1,4,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,15,6,0,1,0,0,441,3
2,5,1,2003,2003m01,5,1,Rio de Janeiro,3304557,Capital,3,...,NaN,NaN,47,2,1,0,0,0,637,3
3,6,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,6,...,NaN,NaN,26,2,1,0,0,0,473,3
4,7,1,2003,2003m01,1,1,Rio de Janeiro,3304557,Capital,4,...,NaN,NaN,10,1,3,0,0,0,147,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36213,159,5,2025,2025m05,35,4,Cachoeiras de Macacu,3300803,Interior,1,...,3.0,0.0,24,1,0,0,0,0,150,2
36214,165,5,2025,2025m05,33,5,Mangaratiba,3302601,Interior,1,...,7.0,0.0,29,2,0,0,0,0,208,2
36215,166,5,2025,2025m05,33,5,Angra dos Reis,3300100,Interior,3,...,14.0,1.0,59,2,0,0,0,0,580,2
36216,167,5,2025,2025m05,43,5,Paraty,3303807,Interior,3,...,6.0,0.0,37,0,0,0,0,0,230,2
36217,168,5,2025,2025m05,28,5,Rio Claro,3304409,Interior,1,...,1.0,0.0,7,1,0,0,0,0,62,2

In [52]:
df_cap= df.loc[(df['regiao'] == 'Capital') & (df['ano'] >= 2015)]
df_cap

,cisp,mes,ano,mes_ano,aisp,risp,munic,mcirc,regiao,hom_doloso,...,cmp,cmba,ameaca,pessoas_desaparecidas,encontro_cadaver,encontro_ossada,pol_militares_mortos_serv,pol_civis_mortos_serv,registro_ocorrencias,fase
19045,1,1,2015,2015m01,5,1,Rio de Janeiro,3304557,Capital,0,...,1.0,0.0,11,1,0,0,0,0,992,3
19046,4,1,2015,2015m01,5,1,Rio de Janeiro,3304557,Capital,1,...,7.0,1.0,16,7,0,0,0,0,1278,3
19047,5,1,2015,2015m01,5,1,Rio de Janeiro,3304557,Capital,1,...,32.0,1.0,35,1,0,0,0,0,1231,3
19048,6,1,2015,2015m01,4,1,Rio de Janeiro,3304557,Capital,3,...,11.0,0.0,20,2,1,0,1,0,461,3
19049,7,1,2015,2015m01,5,1,Rio de Janeiro,3304557,Capital,0,...,2.0,0.0,19,0,0,0,0,0,239,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36117,40,5,2025,2025m05,9,2,Rio de Janeiro,3304557,Capital,2,...,1.0,0.0,30,3,0,0,0,0,584,2
36118,41,5,2025,2025m05,18,2,Rio de Janeiro,3304557,Capital,0,...,6.0,0.0,44,4,0,0,0,0,794,2
36119,42,5,2025,2025m05,31,2,Rio de Janeiro,3304557,Capital,6,...,15.0,4.0,65,9,0,0,0,0,1276,2
36120,43,5,2025,2025m05,27,2,Rio de Janeiro,3304557,Capital,4,...,2.0,0.0,113,8,1,0,0,0,626,2
36121,44,5,2025,2025m05,3,1,Rio de Janeiro,3304557,Capital,4,...,9.0,0.0,35,2,0,0,0,0,804,2

In [53]:
df_cap= df_cap.groupby(['ano', 'cisp', 'munic', 'regiao'])[['roubo_veiculo', 'furto_veiculos', 'registro_ocorrencias']].sum().reset_index()
df_cap= df_cap.sort_values(by= 'ano')
df_cap

,ano,cisp,munic,regiao,roubo_veiculo,furto_veiculos,registro_ocorrencias
0,2015,1,Rio de Janeiro,Capital,12,21,6015
1,2015,4,Rio de Janeiro,Capital,77,37,12138
2,2015,5,Rio de Janeiro,Capital,29,96,14884
3,2015,6,Rio de Janeiro,Capital,85,89,6144
4,2015,7,Rio de Janeiro,Capital,48,143,2462
...,...,...,...,...,...,...,...
429,2025,19,Rio de Janeiro,Capital,94,34,5204
430,2025,20,Rio de Janeiro,Capital,86,45,4098
431,2025,21,Rio de Janeiro,Capital,286,131,7029
432,2025,22,Rio de Janeiro,Capital,138,117,3868
433,2025,23,Rio de Janeiro,Capital,81,50,2434