In [65]:
#importação 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [66]:
#importação do csv
df= pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding='latin1')
df_sep= df[['ano','munic','furto_celular']]
df_sep

        ano                 munic  furto_celular
0      2003        Rio de Janeiro             37
1      2003        Rio de Janeiro             23
2      2003        Rio de Janeiro             47
3      2003        Rio de Janeiro              8
4      2003        Rio de Janeiro              1
...     ...                   ...            ...
36076  2025  Cachoeiras de Macacu              0
36077  2025           Mangaratiba              3
36078  2025        Angra dos Reis              6
36079  2025                Paraty              9
36080  2025             Rio Claro              1

[36081 rows x 3 columns]

In [67]:
#filtro das cidades metropolitanas
df_sep = df_sep.loc[df_sep['munic'].isin(['Belford Roxo','Duque de Caxias','Guapimirim','Itaboraí','Itaguaí','Japeri','Magé','Maricá','Mesquita','Nilópolis','Niterói','Nova Iguaçu','Paracambi','Queimados','Rio Bonito','Rio de Janeiro','São Gonçalo','São João de Meriti','Seropédica','Tanguá'])]
df_sep

        ano           munic  furto_celular
0      2003  Rio de Janeiro             37
1      2003  Rio de Janeiro             23
2      2003  Rio de Janeiro             47
3      2003  Rio de Janeiro              8
4      2003  Rio de Janeiro              1
...     ...             ...            ...
36012  2025         Niterói             16
36013  2025         Niterói             12
36014  2025         Niterói              8
36015  2025          Maricá             17
36040  2025      Rio Bonito              1

[18996 rows x 3 columns]

In [68]:
#filtrar o ano de 2024
df_sep= df_sep.loc[(df_sep['ano']== 2024)]

In [69]:
#groupby para agrupar as cidades
df_gp = df_sep.groupby('munic')['furto_celular'].sum().reset_index()
df_gp= df_gp.sort_values(by= 'furto_celular' , ascending= False)

In [70]:
#separar os furtos
furto= df_gp['furto_celular']
dados= np.array(furto)

In [71]:
#calcular média
media= np.mean(dados)
media

np.float64(1710.2)

In [72]:
#calcular mediana
mediana= np.median(dados)
mediana

np.float64(173.5)

In [73]:
#calcular a distancia relativa em porcentagem
distancia= (media - mediana) / mediana * 100 # *100 para tranformar em porcentagem
distancia

np.float64(885.7060518731989)